*.html
*.log
build/
python/build/
*.egg-info

*.DS_Store

*.o
*.so
*.dylib
*.dll

*.pyc
*__pycache__

*cython*
include/*graph*
src/*graph*

.nv/

*python/notebooks/

*block_prox*
*python/optkit/extensions/
*python/optkit/libs/interp/
*python/optkit/optkit_pydefs.h
