*.html
build/
python/build/
*.egg-info

*.DS_Store
test

*.o
*.so
*.dylib
*.dll

*.pyc

python/*operator*
include/*operator*
include/*graph*
include/*cluster*
include/*sparse*
include/*cg*
src/*operator*
src/*graph*
src/*cluster*
src/*sparse*
src/*cg*
