*.html
build/
python/build/
*.egg-info

*.DS_Store
test

*.o
*.so
*.dylib
*.dll

*.pyc

python/*operator*
include/*operator*
include/*graph*
include/*cluster*
src/*operator*
src/*graph*
src/*cluster*
